# Indexing 

Access any item in the sequence using its index
Indexing starts with 0 for the first element.

In [1]:
# string 
x ='frog'
print(x[3])

g

In [2]:
#list 
x =['pig','cow','horse']
print(x[1])

cow

In [3]:
#tuple
x = ("kevin","Nick","jenny","Jems")
print(x[0])

kevin

# Slicing 

slice out substrings, sublists , subtuples using indexes

[start:end+1: step]

In [5]:
x ="computer"
print(x[1:4])
print(x[1:6:2])
print(x[3:])
print(x[:5])
print(x[-1])
print(x[:-2])

omp
opt
puter
compu
r
comput

In [1]:
# this works ssame in List and tuples

# adding / concatanating 

Combine 2 sequence of th same type by using +

In [3]:
# string 
x = " horse"+" shoe"
print (x)

 horse shoe

In [4]:
#list
y = ["pig","cow"]+["horse"]
print(y)

['pig', 'cow', 'horse']

In [7]:
# tuple 
z =("sam","yak")+("luitel",)
print(z)

('sam', 'yak', 'luitel')

# mulyping 
Multiply a sequence  using *

In [11]:
# string
x ="bug"*3
print(x)

bugbugbug

In [13]:
#list 
y =[8,9]*3
print(y)

[8, 9, 8, 9, 8, 9]

In [14]:
#tuple 
z =(2,4)*3
print(z)

(2, 4, 2, 4, 2, 4)

# checking the membership 
test wheather an item is in or not in a sequence

In [15]:
# string 
x ="bug"
print ("u" in x)

True

In [16]:
#list
y =["pig", "cow", "horse"]
print("cow" not in y)

False

In [17]:
#tuple 
z = ("kevin", "Nick" ,"jenny")
print ("sam" in z)

False

# iterating 
iterating through the item in a sequence

In [18]:
x =[7,8,3]
for item in x:
    print(item)

7
8
3

In [19]:
y = [7, 8, 3]
for index, item in enumerate(y):
    print(index, item)

0 7
1 8
2 3

# number of items 
count the number of item in a sequence

In [20]:
# string 
x= "bug"
print(len(x))

3

In [21]:
#list 
y =[1,2,3,4,5]
print(len(y))

5

In [22]:
#tuple
z =("kevin", "niklas","jenny")
print(len(z))

3

# Minimum
find the minimum in a sequence lexicographically

Alphabet or numeric types , but cannot mix types

In [24]:
# string 
x="bug"
print(min(x))

b

In [25]:
#list
y =["pig", "cow", "horse"]
print(min(y))

cow

In [28]:
#tuple
z =("kev","nick","sam","anish")
print(min(z))

anish

# sum 
fing the sum of items in asequence 
Entire sewurnce must be numeric

In [29]:
# string -. error
#x= [4,5,"bug"]
# print(sum(x)) # generates an error

# list 
y=[1,2,3,4,5,6]
print(sum(y))
print(sum(y[-2:]))

21
11

In [32]:
#tuple 
z =(12,3,4,6,8)
print(sum(z))

33

# sorting 
returns a new list of items in sorted order 
Does not change soriginal list

In [33]:
# string 
x ="bug"
print(sorted(x))

['b', 'g', 'u']

In [34]:
#list
y = ["pig","cow","horse"]
print(sorted(y))

['cow', 'horse', 'pig']

In [36]:
# tuple 
z =("kev","Amin","banana")
print(sorted(z))

['Amin', 'banana', 'kev']

 # sorting 
    sort by second letter 
    Add a key parameter and lambda funtion to return the second character

In [1]:
z =("kevin","nick","Sunny","Div","Yaman")
print(sorted(z, key = lambda k:k[1]))

['Yaman', 'kevin', 'nick', 'Div', 'Sunny']

# Count(item) - returns count on an item

In [3]:
# string 
x = "hippo"
print(x.count("p"))

2

In [6]:
#list
y =["pig","cow","horse","crow","cow"]
print(y.count("cow"))

2

In [7]:
# here python returns the value of that item that is first in the list if repeated

In [9]:
# tuple 
z=("kevin","nick","jenny")
print(z.count("nick"))

1

# Index(item) - returns the index of the first occurance of an item

In [10]:
# string 
x ="hippo"
print(x.index("p"))

2

In [11]:
# list 
y =["pig","cow","horse","cow"]
print(y.index("cow"))

1

In [12]:
# tuple 
z=("kevin","nick","jenny")
print(z.index("jenny"))

2

# Unpacking  - unpack the n item of a sequence into n variables

In [15]:
x = ["pig","cow","horse"]
a,b,c =x
print(a,b,c)

pig cow horse

# Lists
- general purpose
- most widely used data structure
- grow and shrink in size as needed
- sequence type
- sortable


# contructors - creating a new list

In [16]:
x =list()
y =["a",25,"dog",7.8] # we can store different types of data in list
mytuple=(1,2,3)
z= list(mytuple)

In [18]:
# list comprehenson 
a = [ m for m in range(8)]
print(a)
b =[i**2 for i in range(10) if i>4]
print(b)

[0, 1, 2, 3, 4, 5, 6, 7]
[25, 36, 49, 64, 81]

# delete - delete a list or an item in a list

In [21]:
x =[5,3,8,6]
del(x[1])
print(x)
del(x) #list x no longer exists

[5, 8, 6]

# append - append an item to a list

In [22]:
x =[5,3,8,6]
x.append(9)
print(x)

[5, 3, 8, 6, 9]

# extend - append a sequence to a list

In [24]:
x = [5,3,8,6]
y =[12,13]
x.extend(y)
print(x)

[5, 3, 8, 6, 12, 13]

# insert - insert an item at a given index

In [27]:
x = [5,3,8,6]
x.insert(1,7)
print(x)
x.insert(1,["a","m"])
print(x)

[5, 7, 3, 8, 6]
[5, ['a', 'm'], 7, 3, 8, 6]

# pop - pops last item off list and returns item

In [29]:
x = [5,3,8,6]
x.pop() # pop off the 6 (lst item)
print(x)
print(x.pop())

[5, 3, 8]
8

# remove - remove first instance of an item

In [30]:
x =[5,3,8,6,3,2]
x.remove(3)
print(x)

[5, 8, 6, 3, 2]

# reverse - reverse the order of the list in place sort , meaning it changes the original list

In [32]:
x=[5,3,8,6]
x.reverse()
print(x)

[6, 8, 3, 5]

# sort -sort the list in place
 note :
        
        sorted(x) returns a new list without chanding the original
        
        x.sort() puts the item of x in sorted order (sorts in place)

In [34]:
x=[5,3,8,6]
x.sort()
print(x)

[3, 5, 6, 8]

# reverse sort  - sort items decending 
Use reverse  = True parameter to the sort function

In [35]:
x=[5,3,8,6]
x.sort(reverse = True)
print(x)

[8, 6, 5, 3]

# tuple 
- immutable (can't add/ change)
- useful for fixed data
- faster than listd
- sequence type

  # constructors - creating new tuples

In [9]:
x =()

print(x,type(x))

() <class 'tuple'>

In [10]:
x =(1,2,3,4)
print(x, type(x))

(1, 2, 3, 4) <class 'tuple'>

In [11]:
x =1,2,3 # comma tells python thst it's a tuple
print(x,type(x))

(1, 2, 3) <class 'tuple'>

In [12]:
x=2,
print(x, type(x))

(2,) <class 'tuple'>

In [13]:
mylist =[1,2,3,4,5]
x =tuple(mylist)
print(x, type(x))

(1, 2, 3, 4, 5) <class 'tuple'>

# tuples are immutable , but member objects may be mutable

In [14]:
x =(1,2,3,4)
# del (x[1]) # fails 
#x[1] = 8    # fails 
print(x)

(1, 2, 3, 4)

In [15]:
y= ([1,2],3) # a tuple where the first item is a list 
del(y[0][1]) # delete the 2 inside the list
print(y)

([1], 3)

In [16]:
y+=(4,) # concatenating two tuples work
print(y)

([1], 3, 4)

# sets 
- store non - duplicate items 
- very fast acess vs Lists
- math  set ops (union , intersect)
- Sets are Unordered

# constructors - creating new sets

In [19]:
x ={3,5,3,5}
print(x, type(x))

{3, 5} <class 'set'>

In [20]:
x= set()
print(x, type(x))

set() <class 'set'>

In [21]:
mylist= [1,2,3,4,4,5,1,3]
x=set(mylist)
print(x, type(x))

{1, 2, 3, 4, 5} <class 'set'>

# set opeations

In [27]:
# add
x ={3,8,5}
print(x)
x.add(7)
print(x)

{8, 3, 5}
{8, 3, 5, 7}

In [28]:
# remove 
x.remove(3)
print(x)

{8, 5, 7}

In [29]:
# get length of set x
print(len(x))

3

In [30]:
# check membership in x
print(5 in x)

True

In [31]:
# pop random item from set x
print(x.pop(),x)

8 {5, 7}

In [32]:
# delete all items from set x
x.clear()
print(x)

set()

# mathematical set operations 
- intersection (AND):set1 & set2 
- union (OR):set1|set2
- symmetric difference (XOR):set1^set2 difference (in set 1 but not set2): set1 - set2
- subset(set2 contains set1): set1<= set2
- superset(set1 contains set2): set1 >= set2

In [33]:
s1 ={1,2,3}
s2 ={3,4,5}
print(s1&s2)
print(s1|s2)
print(s1^s2)
print(s1-s2)
print(s1<=s2)
print(s1>=s2)

{3}
{1, 2, 3, 4, 5}
{1, 2, 4, 5}
{1, 2}
False
False

# dictionaries (dict)
- key / value Pairs
- associative array ,like java Hash map
- dicts are Unorderd

In [35]:
x ={"pork":25.3,"beef":33.8,"chicken":22.7}
print(x, type(x))

{'pork': 25.3, 'beef': 33.8, 'chicken': 22.7} <class 'dict'>

In [36]:
x =dict([("pork",23.5),("beef",33.8),("chickhen",22.7)])
print(x, type(x))

{'pork': 23.5, 'beef': 33.8, 'chickhen': 22.7} <class 'dict'>

In [37]:
x = dict(pork = 25.3 , beef = 33.8 , chickhen = 22.7)
print(x, type(x))

{'pork': 25.3, 'beef': 33.8, 'chickhen': 22.7} <class 'dict'>

# dict operation

In [39]:
x["shrimp"] = 38.2 # add or update
print(x)

{'pork': 25.3, 'beef': 33.8, 'chickhen': 22.7, 'shrimp': 38.2}

In [40]:
# delete an item
del (x["shrimp"])
print(x)

{'pork': 25.3, 'beef': 33.8, 'chickhen': 22.7}

In [41]:
# get length of dict x
print(len(x))

3

In [42]:
# delete all items from dict x
x.clear()
print(x)

{}

In [43]:
# delete dict x
del(x)

# accessing kys and values in a sict 
not compatable with python 2

In [45]:
y ={"pork":25.3,"beef":33.8,"chicken":22.7}
print(y.keys())
print(y.values())
print(y.items()) # key value pairs

dict_keys(['pork', 'beef', 'chicken'])
dict_values([25.3, 33.8, 22.7])
dict_items([('pork', 25.3), ('beef', 33.8), ('chicken', 22.7)])

In [46]:
# check membership in y_key (only in kwys , not values )
print("beef" in y)

True

In [47]:
# check membership in y_values
print('claim' in y.values())

False

# iterating a dict 
note , items are in random order

In [50]:
for key in y:
    print (key , y[key])

pork 25.3
beef 33.8
chicken 22.7

In [49]:
for k, v in y.items():
    print(k,v)

pork 25.3
beef 33.8
chicken 22.7

# python list comprehensions 
v=basic format ::new_list = [trasform sequence [filter]]

In [51]:
import random

### get values within a range

In [52]:
under_10 = [x for x in range(10)]
print(under_10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### get squared values

In [53]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### get odd numbers using mod

In [54]:
odds =[x for x in range(10) if x%2 ==0]
print (odds)

[0, 2, 4, 6, 8]

### get multiples sof 10

In [56]:
ten_x =[x*10 for x in range (10)]
print(ten_x)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

### get all numbers from a string

In [57]:
s ="I love 2 got t0 the store 7 times a w3ek."
nums = [x for x in s if x.isnumeric()]
print(nums)

['2', '0', '7', '3']

### get index of a list item

In [61]:
names = ["cosmo","pedro","anu","ray"]
idx =[k for k , v in enumerate(names) if v =="anu"]
print("index" + str(idx))

index[2]

### delete an item from a list

In [64]:
letters =[x for x in "ABCDEF"]
random.shuffle(letters)
letrs = [a for a in letters if a!= "C"]
print(letters)
print(letrs)

['B', 'A', 'D', 'C', 'E', 'F']
['B', 'A', 'D', 'E', 'F']

### nested loop iterstion for 2D list

In [66]:
a =[[1,2],[3,4]]
new_list =[x for b in a for x in b]
print(new_list)

[1, 2, 3, 4]

In [70]:
my_list = [x*5 for x in range(1,5)]

print(my_list)

[5, 10, 15, 20]